services:
  vpn-server:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: vpn-server-cont
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    networks:
      - vpn-network
    volumes:
      - .:/app
    working_dir: /app
    stdin_open: true
    tty: true

  vpn-client:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: vpn-client-cont
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    networks:
      - vpn-network
    volumes:
      - .:/app
    working_dir: /app
    stdin_open: true
    tty: true
    depends_on:
      - vpn-server

networks:
  vpn-network:
    driver: bridge
